@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f2f4f7;
  --foreground: #1a1a1a;
  --brand-pink: #ffcbdb;
  --brand-pink-soft: #fcb7d4;
  --brand-pink-strong: #fa628a;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-pink: var(--brand-pink);
  --color-brand-pink-soft: var(--brand-pink-soft);
  --color-brand-pink-strong: var(--brand-pink-strong);

  --breakpoint-xs: 375px;   
  --breakpoint-sm: 640px;   
  --breakpoint-md: 768px;   
  --breakpoint-lg: 1024px;  
  --breakpoint-xl: 1024px;  
  --breakpoint-2xl: 1024px;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
  max-width: 1024px;
}

body {
  background: var(--background);
  color: var(--foreground);
}
